<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Parse</key>
	<dict>
		<key>applicationId</key>
		<string>zbAHHAVnUSR38RjB7ZS40qqOjvLemZDFTESMb8m7</string>
		<key>clientKey</key>
		<string>9VWAzyCKIZgcOsDEtmZUUEEaRbFDwNf6eKlv7C7A</string>
	</dict>
	<key>Config</key>
	<dict>
		<key>tenantName</key>
		<string>trovadae</string>
		<key>serviceDomain</key>
		<string>smart21.it</string>
		<key>serviceTenant</key>
		<string>default</string>
		<key>serviceCategoriesTenant</key>
		<string>trovadae</string>
		<key>wordpressHost</key>
		<string>blog.ciaotrip.it</string>
		<key>wordpressTenant</key>
		<string>trovadae</string>
		<key>phpextensionsHost</key>
		<string>ext.ciaotrip.it</string>
		<key>consoleHost</key>
		<string>console.ciaotrip.it</string>
	</dict>
	<key>Settings</key>
	<dict>
		<key>setStatusBarStyle</key>
		<true/>
		<key>TAB_NOTIFICATIONS_INDEX</key>
		<string>-1</string>
		<key>TAB_NOTIFICATIONS_CART</key>
		<string>-1</string>
		<key>urlWebSite</key>
		<string>http://www.smart21.it/</string>
		<key>urlPageNotification</key>
		<string>_services/pageNotification.php</string>
		<key>urlPageForgotPassword</key>
		<string>forgotPassword.php</string>
		<key>urlPageTermOfUse</key>
		<string>terms-of-use</string>
		<key>searchAround</key>
		<false/>
		<key>singlePoi</key>
		<false/>
		<key>shopOid</key>
		<string></string>
		<key>latitude</key>
		<string>39.85893799999999</string>
		<key>longitude</key>
		<string>18.29720329999998</string>
		<key>multiStore</key>
		<string>NO</string>
		<key>publicUpload</key>
		<true/>
		<key>addObjetFromMenu</key>
		<false/>
		<key>googleMapKey</key>
		<string>AIzaSyAdoL7ygwPNDM47ikqbEVgZ0ZObX_Nt9f0</string>
		<key>radius</key>
		<real>100</real>
		<key>coordinate</key>
		<string></string>
		<key>appID</key>
		<string></string>
		<key>googleAnalyticsId</key>
		<string></string>
		<key>Firebase-chat-ref</key>
		<string>https://smart21chat.firebaseio.com</string>
	</dict>
	<key>Wizard</key>
	<dict>
		<key>maxDurationInDays</key>
		<integer>365</integer>
	</dict>
	<key>BarNavigation</key>
	<dict>
		<key>traslucent</key>
		<false/>
		<key>colorBackground</key>
		<string>FFFFFF</string>
		<key>tintColor</key>
		<string>111111</string>
		<key>shadowColorText</key>
		<string>clearColor</string>
		<key>fontText</key>
		<string>Heiti TC</string>
		<key>fontSizeText</key>
		<string>17</string>
		<key>buttonItemColor</key>
		<string>5F4834</string>
	</dict>
	<key>BarTab</key>
	<dict>
		<key>Menu</key>
		<array>
			<dict>
				<key>title</key>
				<string>in evidenza</string>
				<key>icon</key>
				<string>icon_light_star</string>
				<key>StoryboardControllerID</key>
				<string>HomeController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>aggiungi</string>
				<key>icon</key>
				<string>icon_light_foto</string>
				<key>StoryboardControllerID</key>
				<string>AddController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>chat</string>
				<key>icon</key>
				<string>icon_light_chat</string>
				<key>StoryboardControllerID</key>
				<string>ChatController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Altro</string>
				<key>icon</key>
				<string>icon_light_altro</string>
				<key>StoryboardControllerID</key>
				<string>MenuController</string>
			</dict>
		</array>
		<key>barTintColor</key>
		<string>FFFFFF</string>
		<key>tintColorSelected</key>
		<string>000000</string>
		<key>tintColor</key>
		<string>5F4834</string>
	</dict>
	<key>View</key>
	<dict>
		<key>ProductTour</key>
		<dict>
			<key>Pages</key>
			<array>
				<dict>
					<key>title</key>
					<string>LOCALIZZAZIONE</string>
					<key>text</key>
					<string>&quot;%@&quot; utilizza la posizione del tuo dispositivo per aiutarti a trovare i contenuti più vicini.

Gentilmente, quando selezionerai &apos;Continua&apos; permetti a &quot;%@&quot; di utilizzare la tua posizione.</string>
					<key>icon</key>
					<string>icon_geolocation.png</string>
					<key>image</key>
					<string>background_geolocation.jpg</string>
				</dict>
			</array>
		</dict>
		<key>Wizard</key>
		<dict>
			<key>ADD_REPORT</key>
			<true/>
			<key>OTYPE_REPORT</key>
			<string>report</string>
			<key>OTYPE_AD</key>
			<string>ad</string>
		</dict>
		<key>Ecommerce</key>
		<dict>
			<key>urlPageCustomProfile</key>
			<string></string>
			<key>urlPageCart</key>
			<string>cart.php</string>
			<key>urlPageListOrders</key>
			<string></string>
			<key>urlPageAddToCart</key>
			<string>addToCart.php</string>
		</dict>
		<key>ExploreHome</key>
		<dict>
			<key>viewBoxLink</key>
			<false/>
			<key>urlBoxLink</key>
			<string>http://www.smartintrips.net/</string>
		</dict>
		<key>ProductsList</key>
		<dict>
			<key>CELL_STYLE</key>
			<array>
				<string>groupon</string>
				<string>fancy</string>
				<string>default</string>
			</array>
		</dict>
		<key>ProductDetail</key>
		<dict>
			<key>hideAuthor</key>
			<false/>
			<key>hideShop</key>
			<true/>
			<key>hideMap</key>
			<false/>
			<key>hideAddress</key>
			<true/>
			<key>hideCity</key>
			<string>NO</string>
			<key>hideReport</key>
			<false/>
			<key>maxNumberPlaces</key>
			<integer>200</integer>
		</dict>
		<key>UserMenu</key>
		<dict>
			<key>assistenza</key>
			<array>
				<dict>
					<key>label</key>
					<string>Aiuto</string>
					<key>link</key>
					<string>http://trovadae.clio.it/assistenza</string>
				</dict>
				<dict>
					<key>label</key>
					<string>Termini e condizioni d&apos;uso</string>
					<key>link</key>
					<string>http://trovadae.clio.it/terminicondizioni</string>
				</dict>
				<dict>
					<key>label</key>
					<string>Privacy</string>
					<key>link</key>
					<string>http://trovadae.clio.it/privacy</string>
				</dict>
			</array>
		</dict>
		<key>Informations</key>
		<dict>
			<key>urlWebSite</key>
			<string>http://www.clio.it/</string>
			<key>copyright</key>
			<string>©2016 Clio Srl</string>
			<key>claim</key>
			<string>Cliocom</string>
			<key>phoneNumber</key>
			<string>000000</string>
			<key>email</key>
			<string>info@email.it</string>
			<key>urlMoreInfo</key>
			<string>http://clio.it/notizie/dettagli.php?id_elemento=221</string>
		</dict>
	</dict>
</dict>
</plist>
