<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>types</key>
	<dict>
		<key>photo</key>
		<dict>
			<key>title</key>
			<string>0</string>
			<key>poi</key>
			<string>2</string>
			<key>date</key>
			<string>0</string>
			<key>price</key>
			<string>0</string>
			<key>description</key>
			<string>1</string>
			<key>telephone</key>
			<string>0</string>
		</dict>
		<key>cover</key>
		<dict>
			<key>title</key>
			<string>0</string>
			<key>poi</key>
			<string>2</string>
			<key>date</key>
			<string>0</string>
			<key>price</key>
			<string>0</string>
			<key>description</key>
			<string>1</string>
			<key>telephone</key>
			<string>1</string>
		</dict>
		<key>event</key>
		<dict>
			<key>title</key>
			<string>2</string>
			<key>poi</key>
			<string>2</string>
			<key>date</key>
			<string>2</string>
			<key>price</key>
			<string>1</string>
			<key>description</key>
			<string>1</string>
			<key>telephone</key>
			<string>1</string>
		</dict>
		<key>deal</key>
		<dict>
			<key>titolo</key>
			<string>2</string>
			<key>poi</key>
			<string>2</string>
			<key>date</key>
			<string>1</string>
			<key>price</key>
			<string>2</string>
			<key>description</key>
			<string>1</string>
			<key>telephone</key>
			<string>1</string>
		</dict>
		<key>ad</key>
		<dict/>
	</dict>
</dict>
</plist>
